Source: ros-noetic-ros-pytest
Section: misc
Priority: optional
Maintainer: Alexander Rössler <alex@machinekoder.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, python3-pytest-cov, ros-noetic-catkin, ros-noetic-rospy, ros-noetic-rostest
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-ros-pytest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pytest, python3-pytest-cov, ros-noetic-rospy
Description: The ros_pytest package
